<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>
			CLIENT_ID
		</key>
		<string>
			495879802371-00r4jo31el8o008704qg4kte312slfop.apps.googleusercontent.com
		</string>
		<key>
			REVERSED_CLIENT_ID
		</key>
		<string>
			com.googleusercontent.apps.495879802371-00r4jo31el8o008704qg4kte312slfop
		</string>
		<key>
			API_KEY
		</key>
		<string>
			AIzaSyB9M1SsRbqO1jV54huunXHp3Ghg4qb8F0E
		</string>
		<key>
			GCM_SENDER_ID
		</key>
		<string>
			495879802371
		</string>
		<key>
			PLIST_VERSION
		</key>
		<string>
			1
		</string>
		<key>
			BUNDLE_ID
		</key>
		<string>
			com.example.roadmap
		</string>
		<key>
			PROJECT_ID
		</key>
		<string>
			roadmapper-cd68f
		</string>
		<key>
			STORAGE_BUCKET
		</key>
		<string>
			roadmapper-cd68f.appspot.com
		</string>
		<key>
			IS_ADS_ENABLED
		</key>
		<false>
		</false>
		<key>
			IS_ANALYTICS_ENABLED
		</key>
		<false>
		</false>
		<key>
			IS_APPINVITE_ENABLED
		</key>
		<true>
		</true>
		<key>
			IS_GCM_ENABLED
		</key>
		<true>
		</true>
		<key>
			IS_SIGNIN_ENABLED
		</key>
		<true>
		</true>
		<key>
			GOOGLE_APP_ID
		</key>
		<string>
			1:495879802371:ios:ce02a3e7055703a1128836
		</string>
	</dict>
</plist>
